@mixin buttons($bc, $bch, $bd, $w, $c: white) {
  height: 2rem;
  border-radius: 5px;
  border-width: 0;
  background-color: $bc;
  width: $w;
  color: $c;
  &:hover {
    background-color: $bch;
    cursor: pointer;
  }
  &:focus {
    border: 2px solid $bd;
    outline: 0;
  }
}
@mixin textinput($w, $h: auto) {
  border-radius: 5px;
  height: $h;
  width: $w;
  padding: 5px;
  border: 1px solid lightgray;
  &:focus {
    box-shadow: 0 0 3px 3px rgba(71, 209, 205, 0.5);
    outline: 0;
  }
}
